# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/
serviceAccount.json

# Node.js dependency directory
node_modules/
firebaseEnv.json
lib

# LOG FILES

*.log
